*{
	margin: 0;
	padding: 0;
    border:none;
}

html,body{
	height: 100%;
    width: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}
#wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.mask{
    background-color: rgba(0,0,0,.5);
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0;
    will-change: opacity;
    transition: all 0.5s;
    visibility: hidden;
}

.content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    will-change: transform;
    box-shadow: 0 -1px 40px rgba(0,0,0,.3);
    -webkit-transition: -webkit-transform .3s cubic-bezier(0,0,.25,1) 80ms;
    transition: transform .3s cubic-bezier(0,0,.25,1) 80ms;
}
.opacity1{
    pointer-events: auto;
    opacity: 1;
}
.maskpop{
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    /*background-color: rgba(0,0,0,.5);*/
}
.trans{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.pop-content-right{
    width: 100%;
    text-align: center;
    font-size: 16pt;
}
.topleft{
    display: inline-block;
}
.sideBox{
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    line-height: 50px;
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: justify;
    /*opacity:0.15;
    filter: alpha(opacity=15);*/
    padding: 0px 20px;
    /*box-sizing: border-box;*/
    z-index: 5;
    }
.sideBox a{display: inline-block; text-decoration: none;width: 100px;}
.sideBox::-webkit-scrollbar{display: none;}
.button_div{
    position: absolute;
    background-color: #c1c1c1;
    width: 36px;
    height: 40%;
    left: 10px;
    bottom: 30px;
}

/*左下角图标按钮*/
.left_img{
    z-index: 1;
    position: absolute;
    left: 3%; 
    top: 67%;
    width: 9%;
}
.image{
    display: flex;
}
.left_img li img{
    background-color: #fff;
    border-radius:20%;
    width: 90%;
    height: 90%;
/*  width: 40px;
height:40px;*/
}
.img{
    margin-bottom:20%;
}
.intr{
    background-color: #fff;
    filter:alpha(opacity=70);
    opacity:0.85;
    position:absolute;
    width: 70%;
    height: 24%; 
    /*display: flex;
    flex-direction: row;*/
}
.intr-top{
    width: 100%;
    height: 22%;
    /*background-color: #FEE1EB;*/
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left{
    padding-left: 4%;
    width: 92%;
}
.right{
    width: 8%;
}
.intr-body{
    height: 78%;
    /*background-color: #FFCE44;*/
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    flex-direction: row;
}
.body_img{
    width: 30%;
}
/*简易居中，后期优化*/
.body_img img{
    margin-top:16%;
    margin-bottom:20%;
}
.bodyright{
    width: 70%;
    padding: 4%;
    height: 100%;

}
.bodyright .text{
    line-height: 12px;
    height: 30%;
}
.intr_content{
    font-size: 12pt;
}
.btn { 
    display: block; 
    position: relative; 
    color: #fff; 
    height: 20px;
    cursor: pointer; 
    margin-left: 4px;
    margin-right: 4px;
    border: 1px solid #1e7db9;
    box-shadow: 0 1px 2px #8fcaee inset, 0 -1px 0 #497897 inset, 0 -2px 3px #8fcaee inset;
    background: -webkit-linear-gradient(top,#42a4e0,#2e88c0);
    border-radius:18%;
}  
.intr-foot{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10%;
    height: 30%;
    bottom: 0px;
}
.icon-cuowu{
    color:#5D5D5D;
}